body { font-family: Verdana, Helvetica, sans-serif; font-size: 13px; margin: 0; }

table { border-collapse: collapse; }

td { border: 1px solid #cccccc; }
td.header { width: 120px; }

img { border: none; }

a { text-decoration: none; }
a:visited { color: blue; }

input.text { width: 300px; }
textarea { width: 500px; height: 110px; }

.content { margin: 7px; }
.tablecontent { margin: 8px; }

.checkproblem { padding: 7px; border: 1px solid orange; background-color: #ffdd33; /* light orange */ }

.notification { margin: 21px 7px; }
.notificationtext { padding: 7px; border: 2px solid orange; background-color: #ffdd33; /* light orange */ }

.actions span { padding: 3px 7px; border: 1px solid #cccccc; background-color: #ddffbb; }

.floatleft  { float: left; }
.floatright { float: right; }

.hidden { display: none; }

.success { color: green; }
.error { color: red; }
.warning { color: orange; }
.note { color: #aaaaaa; }
.todo { background-color: #ffff66; }
.info { width: 500px; }

.superscript { font-size: 58%; position: relative; bottom: 0.5em; }

div#language { float: left; width: 260px; height: 36px; padding: 7px; }
div#language select { width: 180px; }

div#menu { float: right; width: 260px; height: 36px; padding: 7px; text-align: right; }
div#menu ul { padding: 0; display: inline; }
div#menu li { display: inline; }

div#adminmenu { position: absolute; top: 58px; bottom: 0px; left: 7px; width: 100px; border-right: 1px solid #aaaaaa; }
div#adminmenu ul { margin: 7px 0; padding: 0; list-style: none; }
div#adminmenu li { margin: 0; padding: 0; }

div#admincontainer { position: absolute; top: 58px; left: 115px; }

div#title { height: 22px; padding: 14px; font-size: 20px; text-align: center; }

div#horizontal-bar { height: 7px; background-color: #ffdd33; /* light orange */ border-bottom: 1px solid orange; }

.sumvert { border-top:  2px solid black; }
.sumhorz { border-left: 2px solid black; }

tr.spacerrow { height: 14px; }
tr.spacerrow td { border: 0; }

.linktotooltip { background-color: #ffffaa; }
.linktotooltipbar { height: 7px; }
.tooltip { position: absolute; display: none; text-align: left; color: black; background-color: #ffffff; border: 1px solid #dddddd; padding: 3px; }

table.grid td { text-align: center; }
td.gridcolheader { width:  30px; }
td.gridrowheader { height: 30px; }

.multipleselector td { border: 0; vertical-align: top; }
