
/* general page layout */

body { padding: 0; margin: 0; }
textarea, body, select, input { font-family: tahoma, arial, helvetica, sans-serif; font-size: 13px; }
a { text-decoration: none; color: blue; }
table { border-collapse: collapse; }
img { border: none; }
.right { text-align: right; }
.important { color: #ffbb00; }
.stored { color: #aaaaaa; }
.done { background-color: #eeeeee; }

/* actions */

div#actions { position: absolute; right: 7px; top: 7px; text-align: right; }

/* page header */

div#page_header { margin: 7px; border: 1px solid #cccccc; }
table#page_header_table { width: 100%; background-color: #ffecab; /* helles orange */ }
td.version { text-align: right; }

/* subtitle */

h3 { margin: 7px; }

/* normal and error messages */

div#msg_box { margin: 7px; border: 1px solid #cccccc; }
div.message { margin: 7px; font-style: italic; }
div#error_box { color: red; margin: 7px; border: 1px solid #cccccc; }

/* login page */

div#login_box { margin: 7px; border: 2px solid #ccccff; padding: 20px; }

/* selectors */

div.selector { margin: 7px; }

/* input fields */

td.field_header { font-weight: bold; }

table.edit_table { margin: 8px; }
table.edit_table td { border: 1px solid #cccccc; padding: 3px 7px 3px 7px; }
table.edit_table td.edittitle { vertical-align: top; font-weight: bold; }
div.edit_actions { margin: 7px; }
div.edit_actions a { border: 1px solid #cccccc; padding: 3px 7px 3px 7px; }
div.edit_inline_actions {}
div.edit_inline_actions a{ border: 1px solid #cccccc; padding: 3px 7px 3px 7px; }

/* Tool tips */

.tooltip { position: absolute; display: none; text-align: left; font-weight: normal; color: black; background-color: #ffffff; border: 1px solid #dddddd; padding: 3px; }
