<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<display-name>Serva (0.2.5)</display-name>

	<servlet>
		<servlet-name>serva</servlet-name>
		<servlet-class>ch.serva.servlets.ServaServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pdf</servlet-name>
		<servlet-class>ch.serva.servlets.PdfServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>serva</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pdf</servlet-name>
		<url-pattern>*.pdf</url-pattern>
	</servlet-mapping>

</web-app>
